@media(width < 1001px){
  .top-right-menu{
    display: inline-block;
  }

  .title-container .title{
    --font-size: 2rem;
  }

  .filter-options p img, .chevron-button{
    display: inline-block;
  }

  .filter-options p{
    justify-content: space-between;
  }  

  .filter-cont{
    position: absolute;
    right: 1px;
    top: calc(100% - -3px);

    flex-direction: column;
    background-color: rgb(255, 255, 255);   
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 20px 25px;
    opacity: 0;
    pointer-events: none;
  }

  .show-menu{
    opacity: 1;
    pointer-events: auto;
  }

  .categories{
    top: 0px;
    right: 145px;
    bottom: -60px;
  }

  .grid-layout{
    grid-template-areas: 'main' 'aside';
    grid-template-columns: 1fr;
    padding: 0px 16px;
    max-width: 738px;
    /* height: fit-content; */
  }

  aside{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(width < 700px){
  aside{
    grid-template-columns: 1fr;
    min-width: 375px;
    max-width: 375px;
  }

  .grid-layout{ 
    place-items: center;
  }
}
