@import url('pages.css');
@import url('article.css');
@import url('live-shares.css');



body{
  position: relative;
  background-color: #ebebeb;
  width: 100vw;
  height: 100vh;
  min-height: auto;
  overflow: hidden auto;
}

body::-webkit-scrollbar{
  width: 10px;
  color: #ebebeb;
}

body::-webkit-scrollbar-track{
  background-color: rgb(255, 255, 255);
  border-radius: 100vh;
}

body::-webkit-scrollbar-thumb{
  background-color: #e02e3dcd;
  height: 60%;
}

/* ------------------------------------------------HEADER--------------------------------------------- */

header{
  position: sticky;
  top: 0;
  height: 75px;
  width: 100%;
  border-bottom: 3px solid #e02e3d;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
}

.header-content{
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  height: 100%;
  width: 100%;
  max-width: 1000px;
  padding: 0px 10px;
  margin-inline: auto;
  /* z-index: 9999999; */
}

.top-right-menu{
  display: none;
  width: 37px;
  cursor: pointer;
}

.logo-container{
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  /* border: 1px solid; */
}

.logo-container img{
  width: 100px;
}

.filter-cont{
  flex: none ;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.filter-cont::-webkit-scrollbar{
  display: none; 
}

.filter-options{
  position: relative;
  /* height: 100%; */
  flex: none;
  display: grid;
  place-content: center;
}

.filter-options p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 116px;
  font-size: 1.15rem;
  /* width: 90px; */
  cursor: pointer;
}

.header-icon{
  width: 24px;
  cursor: pointer;
}

.header-icon:nth-child(3){
  width: 10px;
}

.filter-options p:hover{
  text-decoration: underline;
}

.form-in-header{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.form-in-header button{
  width: 30px;
  height: 30px;
  border: none;
  margin-left: -31px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(255, 112, 112);
  box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.304);
}

.form-in-header button img{
  width: 20px;
  height: 20px;
}

#header-input{
  background-color: rgb(255, 255, 255);
  height: 30px;
  border-radius: 10px;
  outline: none;
  border: none;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.311), inset -1px -1px 3px rgba(0, 0, 0, 0.311);
}

#header-input[type="text"]{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 0.9rem; 
  color: black;
  padding-left: 10px;
}

.date-for-filter-search{
  display: none;
  height: 30px;
  padding: 0px 5px;
  border: none;
  border-radius: 10px;
  opacity: 1;
  cursor: pointer;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.311), inset -1px -1px 3px rgba(0, 0, 0, 0.311);
} 

.show-date{
  display: inline-block;
}

.categories{
  position: absolute;
  top: 35px;
  right: 0px;
  
  background-color: #ffffff;
  border: 2px solid rgb(255, 112, 112);
  white-space: nowrap;
  border-radius: 6px;
  height: fit-content;
  padding: 20px 15px;
  opacity: 0;
  filter: blur(1px);
  pointer-events: none;
  z-index: 10000;
}

.category-option:hover{
  text-decoration: underline;
  cursor: pointer;
}

.show-options{
  pointer-events: auto;
  filter: blur(0);
  opacity: 1;
}

.category-option{
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.chevron-button{
  position: absolute;
  left: -25px;
  width:  20px;
  height: 20px;
  
  display: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.chevron-button img{
  width: 100%;
}

/* -------------------------------------------------------- MAIN --------------------------------------------- */

.grid-layout{
  margin: 20px auto;
  height: 100%;
  /* width: 1000px; */
  display: grid;
  grid-template-areas: 'main aside';
  grid-template-columns: 3fr 1.6fr;
  gap: 1rem;
  max-width: 1000px;
}

.main-news-content{
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 740px;
  margin-inline: auto;
}



